<%- include("partials/header") %>
<div class="ui text main container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
        <div class="extra">
            <a class="ui basic small orange button" href="/blogs/<%= blog._id %>/edit" >Update</a>
            <form id="delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
            <button class="ui basic small red button">Delete</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>
